@{
    ViewBag.Title = "Felhantering";
}
<h3>Ett fel har uppstått</h3>
<p>Ett fel har uppstått.</p>
<p>Om felet uppstår var god kontakta aktiv personal om när felet hände och vad du gjorde på sidan, så att personal har möjlighet att återskapa felet.</p>
@if (ViewBag.Error != null)
{
    <br />
    <h2>Felmeddelandet som kan vara relevant för personal är: @ViewBag.Error</h2>
}
