@model Activity
@{
    bool HasFile = false;
    // Se om övningsfil finns redan tilgänglig
}

<hr />
<h2>Övningsuppgift för @Model.Name</h2>
<br />
<p>För denna övningsuppgift så är inlämningstiden satt till: @Model.Deadline</p>
@if (Model.Deadline > DateTime.Now && !HasFile)
{
    <p class="warning">Tiden har gått över för denna inlämningsuppgift</p>
}
@if (!HasFile)
{
    using (Html.BeginForm("Activity", "Student", new { id = Model.Id.ToString() }, FormMethod.Post, new { @class = "form-horizontal, col-md-offset-7", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label for="file">Vilken fil vill du skicka in som övningsuppgift?</label>
                <input type="file" name="file" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="´Skicka in" class="btn btn-default" />
            </div>
        </div>
    }
}