@model Course
@{
    ViewBag.Title = "Participants of "+ Model.Name;
}

<h3>Participants of</h3>
<h2>@Model.Name</h2>
@if (ViewBag.Warning != null)
{
    <p class="warning">@ViewBag.Warning</p>
}
<ul>
@foreach (var User in Model.Users)
{
    <li><a href="mailto:@User.Email">@User.FirstName @User.LastName</a></li>
}
 </ul>