@model Course
@{
    ViewBag.Title = "Participants of "+ Model.Name;
}

<h2>@Model.Name</h2>    <!--Marie har ändrat placeringen av denna.-->
<h3>Studenter</h3>      <!--Marie har ändrat till detta. -->
<!--<h3>Studenter vid kursen</h3>/-->


<!--<h2>@Model.Name</h2>-->
@if (ViewBag.Warning != null)
{
    <p class="warning">@ViewBag.Warning</p>
}
@Html.Partial("ParticipantTablePartialView", Model.Users)