body {
    padding: 0;
}

hr {
    border: 1px solid white;
}

a.none {
    color: inherit;
    text-decoration: none;
}

.form-group input {
    margin: 3px 0;
}

ul.none-listed {
    list-style-type: none;
}

.lmsbackground {
    background-color: #eee !important;
    padding: 10px;
}

.text-danger {
    font-size: initial;
}

.centralize {
    text-align: center;
}

.center {
    margin: 0 auto !important;
}

.leftalize {
    text-align: left;
}

.fortywidth {
    width: 40%;
}

.hundredwidth {
    width: 100%;
}

.smaller {
    font-size: x-small;
}

#myCarousel{
    margin:0 0 20px 0;
}